/*-- scss:defaults --*/
// fonts
//$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  //FreeSerif, serif !default;
@import url('https://fonts.googleapis.com/css2?family=Barlow');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XTRA,YOPQ,YTAS,YTDE,YTLC,YTUC@8..144,-6,64,368,-28,482,51,830,-292,570,732');
//$font-family: 'Roboto Flex', sans-serif;
//$font-family-sans-serif: "Barlow", serif !default;
//$font-family-sans-serif: "Work Sans", serif !default

// TODO: ASK MICK WHICH FONT LOOKS BETTER
$font-family-sans-serif: "Open Sans", serif !default;
//$font-family-sans-serif: "Roboto Flex", serif !default;

// colors
$body-bg: #f0f1eb !default;
$body-color: #000 !default;
$link-color: #51483d !default;
$selection-bg: #26351c !default;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

//TODO: ask mick if background too much? (might have to put this in the back image of mine)
/* Add a graph paper background
I like this, but I think I want to figure out how to get a white part down the middle for content background, then have this in the back-background*/
body {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #DEEFF8 1px, transparent 1px),
    linear-gradient(to bottom, #DEEFF8 1px, transparent 1px);
}
