/*-- scss:defaults --*/
// fonts
//$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  //FreeSerif, serif !default;
@import url('https://fonts.googleapis.com/css2?family=Barlow');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XTRA,YOPQ,YTAS,YTDE,YTLC,YTUC@8..144,-6,64,368,-28,482,51,830,-292,570,732');
//$font-family: 'Roboto Flex', sans-serif;
//$font-family-sans-serif: "Barlow", serif !default;
//$font-family-sans-serif: "Work Sans", serif !default

// TODO: ASK MICK WHICH FONT LOOKS BETTER
$font-family-sans-serif: "Open Sans", serif !default;
//$font-family-sans-serif: "Roboto Flex", serif !default;

// colors
$body-bg: #f0f1eb !default;
$body-color: #000 !default;
$link-color: #51483d !default;
$selection-bg: #26351c !default;

//$background-image: url("/Users/caroline.buck/Desktop/Fun_R/rconf_preso/rconf_preso_files/imgs/R_Conf_Background_Slide.png");

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}
